<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD de Empleados</title>
</head>
<body>
  <div class="container">
    <h1>CRUD de Empleados</h1>

    <!-- Campo de búsqueda y botón de búsqueda -->
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por nombre">
    <button (click)="searchEmployee()">Buscar</button>

    <!-- Campos de entrada para agregar un empleado -->
    <input type="text" [(ngModel)]="employee.name" placeholder="Nombre">
    <input type="text" [(ngModel)]="employee.country" placeholder="País">
    <button (click)="addEmployee()">Agregar Empleado</button>

    <hr>

    <!-- Tabla para mostrar la lista de empleados -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.country }}</td>
          <td>
            <button (click)="editEmployee(emp)">Editar</button>
            <button (click)="deleteEmployee(emp)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <app-employee-list></app-employee-list> -->
  </div>
</body>
</html>
