<style>
  body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
</style>
<body>
  <div class="container">
    <h1>Empleados</h1>
    <input type="text" [(ngModel)]="employee.name" placeholder="Nombre">
    <input type="text" [(ngModel)]="employee.country" placeholder="País">
    <button (click)="addEmployee()">Agregar Empleado</button>

    <hr>

    <app-employee-list></app-employee-list>
  </div>
</body>